body {
  margin: 20px;
  position: center;
}

.lead-text {
  margin: 0;
  padding-left: 20px;
  position: relative;
  text-orientation: sideways;
  display: block;
}

h1,
h2,
h3 {
  font-family: "BWHaasGrotesk-75Bold-Web", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 100%;
  margin-bottom: 10px;
  text-align: center;
  display: block;
}

h2 {
  margin: 10px;
  padding: 0;
  border: 0;
  font-size: 42px;
  position: relative;
  letter-spacing: -0.025em;
}

.politics {
  margin: 12px;
  padding: 0;
  border: 0;
  font-size: 24px;
  font-family: "BWHaasGrotesk-55Roman-Web", Helvetica, Arial, sans-serif;
  line-height: 1.13;
  margin-bottom: 5px;
}

ul,
.subtitle {
  font-family: "BWHaasGrotesk-55Roman-Web", Helvetica, Arial, sans-serif;
}

.subtitle {
  font-size: 18px;
  font-style: normal;
  line-height: 0.95;
  margin: 0px;
  margin-left: 12px;
  display: inline-block;
  text-align: left;
}

.list {
  margin: auto;
}

.author:hover,
.related:hover {
  color: #6d6d6d;
  text-decoration: underline;
}

.author:visited,
.related:visited {
  color: inherit;
}

.author {
  margin: 0px;
  padding: 0;
  border: none;
  transition-property: color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  color: #6d6d6d;
  cursor: pointer;
}

.related {
  background-color: transparent;
  text-decoration: 1px dotted underline;
  cursor: pointer;
}

span {
  font-style: italic;
  display: inline-block;
}

.article-content {
  font-size: 20px;
  display: block;
  padding: 10px 10px 10px 30px;
  margin: 40px;
  margin-block-start: 0;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "PT Roman Web", Georgia, "Times New Roman", Times, serif;
  text-align: justify;
}

.comments,
.assistance {
  font-style: italic;
}

.img,
.comments {
  color: #6d6d6d;
}

img {
  max-width: 100%;
  height: auto;
}
